<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce Gutenberg</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <main class="index">
            <h1>Bienvenido a Gutenberg</h1>
            <ul>
                <li><a href="/detalle-producto">Detalle de producto</a></li>
                <li><a href="/carrito-compras">Carrito de compras</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/login">Login</a></li>
                
            </ul>
        </main>

</body>
</html>