<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Gutenberg Registro</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c1eae85dfa.js" cross></script>
      </head>
<body>
    <header>
        <img class="isologo" src="img\isologomoradosmall.png">
        <nav>
        <input type="checkbox" id="check">
          <label for="check" class="btn_menu">
              <i class="fas fa-bars"></i>
          </label>
          <ul>
              <li><a class="active" href="/">Inicio</a></li>
              <li><a href="#">Géneros</a></li>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Crowfounding</a></li>
              <li><a href="/registro">Registro</a></li>
              <li><a href="/login">Login</a></li>
          </ul> 
          </nav>     
      </header>
        <div class="lowerbar">
          <div class="search">
          <input class="searchbar" type="text" placeholder="buscar" required>
          </div>
          <div class="lupa"><i class="fas fa-search"></i>
          </div>
          <span class="profile"><i class="far fa-user-circle"></i></span>
          <span class="cart"><i class="fas fa-shopping-cart"></i></span>
      </div>
    
    <form  method="get" class="create-form">
        <h2>Registro de Usuario</h2>
        
            <div>
                <label>Nombres</label>
                <br>
                <input type="text" name="nombre" id="nombre" required>
            </div>

            <div>
                <label>Apellidos</label>
                <br>
                <input type="text" name="apellido" id="apellido" required>
            </div>
            
            <div>
                <label>Email</label>
                <br>
                <input type="email" name="correo" id="email" required>
            </div>

            <div>
                <label>Confirmar Email</label>
                <br>
                <input type="email" name="check_email" id="check_email"  required>
            </div>

            <div>
                <label>Password</label>
                <br>
                <input type="password" name="password" id="password" required>
            </div>

            <div>
                <label>Confirmar Password</label>
                <br>
                <input type="password" name="check_password" id="check_password" required>
            </div>

            <label class="categorias">Categorias de Interés:
                <div>
                <label> <input type="checkbox" name="interes" value="Comedia">Comedia</label>
                <label> <input type="checkbox" name="interes" value="Accion">Accion</label>
                <label> <input type="checkbox" name="interes" value="Romance">Romance</label>
                <label> <input type="checkbox" name="interes" value="Infantiles">Infantiles</label>
                <label> <input type="checkbox" name="interes" value="Editoriales">Editoriales</label>
                </div>
            </label>

                <label class="perfilUsuario"> <!--En radio se pone required en una opción-->
                    <div for="perfilUsuario">Perfil de Usuario:
                        <div>
                        <input type="radio" name="perfilUsuario" id="perfilUsuario" required>Publicar Libros
                        <input type="radio" name="perfilUsuario" id="perfilUsuario">Leer Libros 
                        </div>
                    </div>  
                </label>

            <div>
                <label> <input type="checkbox" name="novedades" value="Email"> Si, Deseo recibir novedades</label>
            </div>
            
            <div>
                <br>
                <button type="submit" value="Guardar y volver al Home" class="boton-personalizado"><a href="/">Guardar</a></button>
            </div>

            <div>
                <br>
                <button type="reset" value="Borrar" class="boton-personalizado"><a href="/registro">Registrarme</a></button>
            </div>

        </form>

            <footer>
                <div class="footerbold">Gutenberg</div>
                <div>Contacto</div>
                <div>Política de privacidad</div>
                <div>Guía de compra</div>
                <div>Atención al cliente</div>
                <div>Promociones</div>
                <div>Preguntas frecuentes</div>
            </footer>
            
        <div class="copyright">
            <h6>Copyright © 2022 Gutenberg Libros S.A.</h6>
        </div>
</body>
</html>